@model FYP.Models.Patient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PatientId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PatientId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Last_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Of_Birth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Of_Birth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diabetic_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diabetic_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Retinal_Image)
            @*<img src="~/Images/@item.Retinal_Image" alt="image" width="100" />*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Retinal_Image)
            
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PatientId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
